/* Estilos para icono de editar */
.fa-edit {
    color: #007bff;
    text-decoration: none;
}

.fa-edit:hover {
    color: #0062cc;
}
/* Estilos para icono de eliminar */
.fa-trash{
    color: #f5515f;
    text-decoration: none;  
}

.fa-trash:hover {
    color: #f7091d;
}